@font-face {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
	src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
	font-weight: 400;
}
@font-face {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
	src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
	font-weight: 600;
}
@font-face {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
	src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
	font-weight: 700;
}
@font-face {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
	src: url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
	src: url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
	src: url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf");
	font-weight: 600;
}
