@use "../styles/partials/variables.scss" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/mixins" as *;

.hero {
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
		url("../assets/images/hero-bio.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 20rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include tablet {
		height: 30rem;
	}
	@include desktop {
		height: 50vw;
	}
	&__title {
		color: $primary-text-color-1;
		@include title;
		padding-left: 1rem;
		@include tablet {
			font-size: 3.75rem;
			font-weight: 600;
			margin: 2.25rem;
		}
		@include desktop {
			margin: 6.25rem;
		}
	}
}
.about {
	background-color: $primary-text-color-1;
	&__title {
		padding: 0rem 1rem 1rem 1rem;
		@include title;
		color: $primary-background-color-1;
		@include tablet {
			margin: 3rem 2.25rem 2.25rem 3rem;
			padding: 0rem;
		}
		@include desktop {
			margin-left: auto;
			width: 87%;
		}
		&--paragraph {
			font-size: 1.5rem;
			font-weight: 400;
			margin: 2.5rem 0 1rem 0;
			color: $primary-background-color-1;
			@include tablet {
				font-weight: 600;
			}
		}
	}
	&__paragraph-container {
		@include tablet {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__container {
		padding: 0rem 1rem 1rem 1rem;
		@include tablet {
			padding: 0rem 6.25rem 2.25rem 6.25rem;
		}
		@include desktop {
			margin: auto;
			width: 70%;
		}
	}
	&__image {
		width: 100%;
	}
	&__quote {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 2.5rem;
		padding-top: 1rem;
		color: $primary-background-color-1;
		&--author {
			@include tablet {
				font-size: 1rem;
				font-weight: 600;
			}
		}
		@include tablet {
			font-weight: 600;
		}
	}
	&__paragraph {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.5;
		padding: 0rem 0rem 1rem 0rem;
		color: $primary-background-color-1;
		@include tablet {
			font-size: 1rem;
		}
		&--left {
			@include tablet {
				padding-right: 1rem;
			}
		}
	}
}
.photo-gallery {
	background-color: $alternative-background-color-1;
	padding: 1.5rem 1rem 0rem 1rem;
	@include tablet {
		padding: 0rem;
	}
	&__title {
		@include title;
		color: $primary-background-color-1;
		@include tablet {
			padding: 3rem 2.25rem 1rem 3rem;
		}
		@include desktop {
			width: 85%;
			margin: auto;
			padding-left: 2rem;
		}
	}
	&__image {
		width: 100%;
		padding: 0rem 0rem 1rem 0rem;
		@include greyScaleHover;
		@include tablet {
			width: 31%;
			padding-bottom: 1.75rem;
		}
	}
	&__container {
		@include tablet {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0rem 3rem 1.425em 3rem;
		}
		@include desktop {
			width: 85%;
			margin: auto;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.form-title {
	padding-left: 1rem;
	font-weight: 600;
	font-size: 2rem;
	color: $primary-background-color-1;
	@include tablet {
		padding: 0rem 2.25rem 1rem 3rem;
		font-size: 2.5rem;
	}
	@include desktop {
		padding-left: 6rem;
		margin-bottom: 0rem;
		padding-bottom: 0rem;
	}
}
.form-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	@include tablet {
		padding: 2rem 3rem 0rem 3rem;
	}
	@include desktop {
		padding: 2rem 20rem 0rem 20rem;
	}
	&__typing {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0rem 1rem 1rem 3rem;
		&--name {
			border-radius: 4px;
			border-color: $outline-color;
			height: 3rem;
			background-color: #fafafa;
			border-style: solid;
			input::placeholder {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				font-size: 3rem;
				color: #323232;
			}
		}
		&--name-label {
			padding-bottom: 1rem;
		}
		&--comments {
			background-color: $alternative-background-color-1;
			border-radius: 4px;
			border-color: $outline-color;
			height: 6rem;
			border-style: solid;
			resize: none;
			border-width: 2px;
			input::placeholder {
				margin-bottom: 5rem;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				color: black;
				justify-self: start;
			}
		}
		&--comments-label {
			padding-top: 1rem;
			padding-bottom: 1rem;
			align-self: flex-start;
			@include tablet {
			}
		}
		&--button {
			margin-top: 1rem;
			height: 2rem;
			text-transform: uppercase;
			background-color: $primary-background-color-1;
			border-radius: 4px;
			color: $primary-text-color-1;
			@include tablet {
				margin-left: 26.375rem;
			}
			@include desktop {
				margin-left: 23.375rem;
			}
		}
	}
	&__img-container {
		width: 36px;
		height: 36px;
		@include tablet {
			width: 48px;
			height: 48px;
		}
		&--image {
			background-image: url(../assets/images/Mohan-muruge.jpg);
			background-size: 56px;
			height: 36px;
			width: 36px;
			border-radius: 50%;
			background-repeat: no-repeat;
			margin: 1rem;
			background-position-x: 25%;
			background-position-y: 50%;
			@include tablet {
				width: 48px;
				height: 48px;
				background-size: 85px;
			}
		}
	}
}
.shows__card--label {
	@include tablet {
		// display: block;
	}
}
.comments-container {
	display: flex;
	flex-direction: row;
	border-radius: 4px;
	border-color: #afafaf;
	border-top: solid 2px #e1e1e1;
	justify-content: space-between;
	margin: 0rem 1rem 1rem 1rem;
	padding-top: 1rem;
	@include tablet {
		margin: 2rem 4rem 2rem 4rem;
	}
	@include desktop {
		margin: 2rem 21rem 2rem 21rem;
	}
	&__avatar {
		background-color: $outline-color;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		display: inline-block;
		@include tablet {
			height: 48px;
			width: 48px;
		}
	}
	&__all-text {
		width: 85%;
		@include tablet {
			width: 88%;
		}
	}
	&__text {
		&--name {
			display: flex;
			flex-direction: row;
		}
		&--name-label {
			color: $primary-background-color-1;
			font-weight: 600;
		}
		&--time {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&--time-label {
			color: #afafaf;
			font-weight: 400;
		}
	}
}
