@use "../styles/partials/variables.scss" as *;
@use "../styles/partials/typography" as *;
@use "./partials/mixins" as *;

.hero-show {
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
		url("../assets/images/hero-shows.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 24rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	@include tablet {
		height: 30rem;
	}
	@include desktop {
		height: 50vw;
	}
	&__album {
		padding: 2rem 0rem 0rem 1rem;
		color: $primary-text-color-1;
		font-size: 1rem;
		@include tablet {
			padding-left: 3rem;
		}
		@include desktop {
			margin: 12rem 0rem 0rem 4rem;
		}
	}
	&__title {
		color: $primary-text-color-1;
		@include title;
		padding-left: 1rem;
		padding-right: 4rem;
		@include tablet {
			font-size: 3.75rem;
			font-weight: 600;
			margin: 1rem 4rem 1rem 3rem;
			padding-left: 0rem;
		}
		@include desktop {
			margin: 0rem 0rem 0rem 7rem;
		}
	}
	&__sound-cloud {
		padding: 1rem;
		@include tablet {
			padding: 1rem 20rem 1rem 3rem;
		}
		@include desktop {
			display: none;
		}
	}
	&__sound-cloud-container {
		@include desktop {
			display: flex;
			flex-direction: row;
		}
	}
	&__sound-cloud-desktop {
		display: none;
		@include tablet {
			display: none;
		}
		@include desktop {
			display: block;
			margin-right: 7rem;
			width: 50%;
			padding-top: 1rem;
		}
	}
}
.main-show {
	@include desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
.shows-title {
	margin-left: 1rem;
	margin-top: 2rem;
	font-weight: 600;
	@include tablet {
		margin-left: 3rem;
	}
	@include desktop {
		margin-left: 7rem;
		margin-right: 12rem;
	}
}
.shows {
	display: flex;
	flex-direction: column;
	&__card-item {
		@include tablet {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		@include desktop {
			margin-right: 5rem;
		}
	}
	@include desktop {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}

.shows__card {
	padding: 1rem 1rem 1rem 1rem;
	border-bottom: solid 2px $outline-color;
	&:hover {
		background-color: $outline-color;
	}
	&--label {
		text-transform: uppercase;
		font-size: 0.75rem;
		color: $primary-text-color-2;
		font-weight: 600;
		@include tablet {
			display: none;
		}
	}
	&--date {
		font-weight: 600;
		padding-bottom: 0.5rem;
		@include tablet {
			font-weight: 400;
		}
	}
	&--text {
		padding-bottom: 0.5rem;
	}
	&--buy-button {
		width: 100%;
		background-color: $primary-background-color-1;
		text-transform: uppercase;
		border-radius: 4px;
		height: 40px;
		color: $primary-text-color-1;
		font-size: 0.75rem;
		@include tablet {
			width: 20%;
		}
		@include desktop {
			width: 17%;
		}
	}
	&--selected {
		background-color: $outline-color;
	}
	@include tablet {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0rem 2rem 1rem 2rem;
		align-items: end;
	}
	&--label-tablet {
		@include tablet {
			display: block;
			margin-bottom: 1rem;
		}
		@include desktop {
			margin-bottom: 2rem;
		}
	}
	@include desktop {
		width: 95%;
	}
}
